h1 { 
    color: blue ; 
    border-bottom: 1px solid grey;
}
div#content {
    position: relative;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 400px;
}

div#content div {
    position: absolute;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

div#content div.wipe {
    opacity: 1;
    background-color: green;
    transition: height 1000ms linear 1s, width 1000ms ease 1s;
}

div#content div.fliph {
  backface-visibility: hidden;
  transition: 3s ease;
}
