h1 { color: blue ; }
div#content {
    position: relative;
    left: 0px;
    top: 0px;
}

div#content div {
    position: absolute;
    opacity: 0;
    left: 0px;
    top: 0px;
}

div#content div.wipe {
    opacity: 1;
    background-color: green;
    transition: height 1000ms linear 1s, width 1000ms ease 1s;
}
