h1 { 
    color: blue ; 
    border-bottom: 1px solid grey;
}
div#content {
    position: relative;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 400px;
}

div#content div {
    position: absolute;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

div#content div.wipe {
    opacity: 1;
    background-color: grey;
    transition: height 1000ms ease , width 1000ms ease ;
}

div#content div.flip {
  backface-visibility: hidden;
  transition: 3s ease;
}
